button {
  font-size: 20px;
  border-color: transparent;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: #212529;
}

.row {
  color: #212529;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #181A1B !important;
}

.copyright {
  color: white;
}

.bg-dark {
  background-color: #181A1B !important;
}

#mainNav {
  background-color: #181A1B;
}

#rest {
  font-size: 25px;
  font-family: Kaushan Script, Helvetica Neue, Helvetica, Arial, cursive;
  color: rgb(229, 188, 49);
}

.nav-link {
  color: rgb(229, 188, 49);
  text-decoration-color: initial;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: rgb(229, 188, 49);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

